<h1>Welcome</h1>
<p>Welcome to our app.</p>

<% if user_signed_in? %>
Signed in as <%= current_user.email %>
<% end %>

<hr>
<%= link_to "Sign Up", new_user_registration_path %> |
<%= link_to "Sign In", new_user_session_path %>
